<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
  <div class="container ">
    <form class="form-inline">
  <%= form_with model: @result, method: "GET", local: true do |f| %>
    <div class="col-md-12 px-0 row">
      <%= f.text_field :content, value: @params  %>
      <%= f.submit '検索', class: 'btn btn-primary' %>
    </div>
  <% end %>
  </div>
<div class="container">
<table calss="table">
  <thead>
  <tr>
    <th>Videos</th>
  </tr>
  </thead>

  <tbody>
      <td>
        <% @youtube_data.items.each do |item| %>
          <% snippet = item.snippet %>
          <p><%= snippet.title %></p>
          <p><%= snippet.published_at %><%= snippet.channel_title %></p>
          <div><iframe width="560" height="315" src="https://www.youtube.com/embed/<%= item.id.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <% end %>
      </td>
  </tbody>
</table>
</div>
<% else %>
  <%= render 'sessions/new' %>
<% end %>