<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
<div class="container ">
  <div class="row">
    <%= form_with(model: @result, local: true, method: :get, class: "form-inline") do |f| %>
      <div class="col-md-12 px-0">
        <%= f.text_field :content, placeholder: "検索する", class: "search-input" %>
        <%= f.submit '検索', class: 'btn btn-primary' %>
      </div>
    <% end %>
    <% begin %>
    <div class="col-md-12 px-0">
        <% @data.items.each do |item| %>
          <% snippet = item.snippet %>
          <p><%= snippet.title %></p>
          <p><%= snippet.published_at %><%= snippet.channel_title %></p>
          <div><iframe width="560" height="315" src="https://www.youtube.com/embed/<%= item.id.video_id %>" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <% end %>
    </div>
    <% rescue %>
     <%= puts "検索上限を超えたため、検索に失敗しました" %>
    <% end %>
  </div>
</div>
<% else %>
  <%= render 'sessions/new' %>
<% end %>